@import '../../properties.scss';
@import '../../variables.scss';

.mainpage-drk{
    background-color: $bg-color-main-drk;
}

.mainpage{
    .info-div{
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}