@import '../../../properties.scss';
@import '../../../variables.scss';

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 4px;

    .username-input{
        margin: 0;
        margin-left: 5px;
        border: none;
        font-size: 16px;
        width: 250px;

        &:focus{
            outline: none;
        }
    }

    .search-btn{
        border: solid;
        border-width: 1px;
        border-radius: 4px;
        @include hover-animate;
        cursor: pointer;
        padding: 1px 2px 0 3px;

        .search-icon{
            font-size: 18px;
        }
    }
}


.search-drk{
    border-color: $navbar-border-drk; 
    background-color: $bg-color-main-drk;
    .username-input{
        background-color: $bg-color-main-drk;
        color: $navbar-font-drk;
        ::-webkit-input-placeholder {
            color: $font-search-placeholder;
         }
         :-moz-placeholder { /* Upto Firefox 18, Deprecated in Firefox 19  */
            color: $font-search-placeholder;
         }
         ::-moz-placeholder {  /* Firefox 19+ */
            color: $font-search-placeholder;
         }
         :-ms-input-placeholder {  
            color: $font-search-placeholder;
         }
         &::placeholder {
            color: $font-search-placeholder;
         }
    }
    .search-btn{
        color: $font-info-drk;
        background-color: $bg-color-main-drk;
        border-color: $navbar-border-drk;

        &:hover{
            background-color: $navbar-border-drk;
            border-color: $navbar-font-drk;
            color: $navbar-font-drk;
        }
    }

    &:focus-within{
        border-color: $navbar-font-drk;
    }
}