// dark theme

$bg-color-main-drk: #0d1117;

$font-info-main-drk:#c9d1d9;
$font-info-drk:#8b949e;
$font-search-placeholder-drk:#c4c9ce;
$font-blue-drk:#58a6ff;

$navbar-bg-drk:#161b22;
$navbar-font-drk:#f0f6fc;
$navbar-border-drk:#30363d;

$repo-hover-drk: #15171b;
$repo-border-drk:#22262b;
$btn-bg-repo-drk:#21262d;


// light theme
$bg-color-main-lgt: #ffffff;

$font-info-main-lgt:#24292f;
$font-info-lgt:#57606a;
$font-search-placeholder-lgt:#c4c9ce;
$font-blue-lgt:#0969da;

$navbar-bg-lgt:#161b22;
$navbar-font-lgt:#f0f6fc;
$navbar-border-lgt:#30363d;

$repo-hover-lgt: #f3f1f1;
$repo-border-lgt:#22262b;
$btn-bg-repo-lgt:#21262d;