// dark theme

$bg-color-main-drk: #0d1117;

$font-info-main-drk:#c9d1d9;
$font-info-drk:#8b949e;
$font-search-placeholder:#c4c9ce;
$font-blue-drk:#58a6ff;

$navbar-bg-drk:#161b22;
$navbar-font-drk:#f0f6fc;
$navbar-border-drk:#30363d;

$repo-hover-drk: #15171b;
$repo-border-drk:#22262b;
$btn-bg-repo-drk:#21262d;


// light theme

$bg-color-main-lgt: #0d1117;

$font-info-main-lgt:#c9d1d9;
$font-info-lgt:#8b949e;
$font-blue-lgt:#58a6ff;

$navbar-bg-lgt:#161b22;
$mavbar-font-lgt:#f0f6fc;
