@import '../../properties.scss';
@import '../../variables.scss';

.repoview-outer-div{
    padding-top: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .slick-slider{
        li{
            border-radius: 3px;
        }
    }

    .progress{
        width: 100%;
        text-align: center;
    }

    
}


.repoview-drk{
    .page-no{
        color: $font-info-main-drk;
        padding: 0;
        margin: 0;
    }
    .slick-slider{
        li.slick-active{
            background-color: $font-blue-drk;
            p{
                color: #fff;
                font-weight: 700;
            }
        } 

        li{
            &:hover{
                background-color: #26282b;
            }
        }
    }
}


.repoview-lgt{
    .page-no{
        color: $font-info-main-lgt;
        padding: 0;
        margin: 0;
    }
    .slick-slider{
        li.slick-active{
            background-color: $font-blue-lgt;
            p{
                color: #fff;
                font-weight: 700;
            }
        } 

        li{
            &:hover{
                background-color: $repo-hover-lgt;
            }
        }
    }
}